<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
   	
	

  <title>Be Happy</title>

    <!-- STYLESHEETS -->
     
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    
    <link rel="stylesheet" href="/static/css/main.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
   
    <!-- APPLICATION SCRIPTS -->
    <script src="/static/app.js"></script>
  </head>

	
	
  
  
  

 

	<body>
		<h1 class="text-center">Be Happy</h1>

	</body>

<!-- This is a bs3 for thumbnail class -->
<!-- <<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
	<a href="#" class="thumbnail">
		<img data-src="#" alt="">
	</a>
</div> -->

<!-- This is a bs3 form -->
<form action="" method="GET" role="form">
	<legend>Form title</legend>

	<div class="form-group">
		<label for="">Testing for layout</label>
		<input type="text" class="form-control" id="" placeholder="Input field">

	</div>

	

	<button type="submit" class="btn btn-primary">Submit</button>
</form>


<!-- This is a bs3  navbar -->
<!-- <<nav class="navbar navbar-default" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">Title</a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li class="active"><a href="#">Link</a></li>
			<li><a href="#">Link</a></li>
		</ul>
		<form class="navbar-form navbar-left" role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#">Link</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else here</a></li>
					<li><a href="#">Separated link</a></li>
				</ul>
			</li>
		</ul>
	</div><!-- /.navbar-collapse -->
</nav> 

<div class="container">
    <div class="row">
      <h1>Funny Gifs</h1>
      <form>
        
      </form>
      <div id='gifs' class="col-md-8 col-md-offset-2">
      </div>
    </div>
  </div>
</html>